# Ignore all ROS 2 build artifacts
/build/
/install/
/log/
/log/f1tenth_ws

# Also ignore any nested install/build/log folders in subprojects
**/build/
**/install/
**/log/
/src/f1tenth_ws/vesc/build/
/src/f1tenth_ws/vesc/install/
/src/f1tenth_ws/vesc/log/
/idea
.idea/